*.pyc

*.pdf
*.png
*.xlsx
*.log
*.text

# plot/figure files
*.eps

# LaTeX junk files
*.aux
*.tex
*.rar
*.gz
*.dvi


# virtualenv dirs
lib
share
bin
include


# sublime-text files
maths.sublime-workspace


# particular python files
questions/question.py

.idea/
